@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

.signup-container {
}
.signup__form {
}
.name-input {
}
.password-input {
}
.email-input {
}
.submit-input {
}
.help-container {
}
